[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "==1.6.1"

[dev-packages]
{{cookiecutter.project_name}} = {editable = true,path = "."}
asynctest = "==0.12.1"
pytest = "==6.1.2"
pytest-cov = "==2.10.1"
pytest-mock = "==3.3.1"
codecov = "==2.0.17"
mypy = "==0.782"
black = "==19.10b0"
isort = "==5.1.4"
lxml = "==4.6.2"
sphinx = "==3.2.1"
sphinx-issues = "==1.2.0"
sphinx-intl = "==2.0.1"
safety = "==1.9.0"
flake8 = "==3.8.4"
flake8-bugbear = "==20.11.1"
bandit = "==1.6.3"
pre-commit = "==2.9.2"
twine = "==3.2.0"
bumpversion = "==0.6.0"

[requires]
python_version = "3"

[scripts]
test = "py.test -v --cov={{cookiecutter.project_name}} --cov-report=term-missing --cov-report=xml"
lint = "mypy"
fmt = "black ."
fmt-check = "black --check ."
isort-fmt = "isort --apply ."
isort-check = "isort --check-only ."
make-docs = "make -C docs-src html"
safety-check = "safety check"
issues-check = "bandit --ini .bandit -r"
check-all = "pre-commit run --all-files"
